<div class="header-container">
  <mat-toolbar>
    <div class="header-icon-hamburger" (click)="toggleMenu()">
      <mat-icon>list</mat-icon>
    </div>
    <div class="header-item-container" [ngClass]="{'open' : isMenuOpen}">
      <div class="header-item">
        <a class="header-item-btn" [class.active]="isActive('Mailboxes')"
          (click)="setActiveMenuItem('Mailboxes')">Mailboxes</a>
      </div>
      <div class="header-item">
        <a class="header-item-btn" [class.active]="isActive('Inbox')" (click)="setActiveMenuItem('Inbox')">Inbox</a>
      </div>
      <div class="header-item">
        <a class="header-item-btn" [class.active]="isActive('Sent')" (click)="setActiveMenuItem('Sent')">Sent</a>
      </div>
      <div class="header-item">
        <a class="header-item-btn" [class.active]="isActive('Draft')" (click)="setActiveMenuItem('Draft')">Draft[1]</a>
      </div>
      <div class="header-item">
        <a class="header-item-btn" [class.active]="isActive('Junk')" (click)="setActiveMenuItem('Junk')">Junk</a>
      </div>
      <div class="header-item">
        <button class="header-item-btn-newmessage">
          <span>New Message</span>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
